PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "clientes_preprocessados" (
"id_cliente" TEXT,
  "nome" TEXT,
  "cidade" TEXT,
  "uf" TEXT,
  "idade" REAL,
  "renda_mensal" REAL,
  "tempo_cliente_meses" INTEGER,
  "compras_12m" INTEGER,
  "ticket_medio" REAL,
  "dias_desde_ultima_compra" INTEGER,
  "cat_BRONZE" INTEGER,
  "cat_DESCONHECIDO" INTEGER,
  "cat_DIAMANTE" INTEGER,
  "cat_OURO" INTEGER,
  "cat_PRATA" INTEGER,
  "componente_1" REAL,
  "componente_2" REAL
);
INSERT INTO clientes_preprocessados VALUES('C00493','Lucas Silva Barbosa','S├úo Paulo','SP',33.0,5209.350000000000363,85,27,364.6999999999999887,61,0,0,0,1,0,-0.03750003604275983087,-0.4878466261419680539);
INSERT INTO clientes_preprocessados VALUES('C01730','Let├¡cia Ribeiro Moreira','S├úo Paulo','SP',48.0,7177.949999999999819,61,9,498.6800000000000068,114,0,0,0,0,1,0.3600785825037056131,0.7270242948263988536);
INSERT INTO clientes_preprocessados VALUES('C00004','Patr├¡cia Fernandes Nascimento','S├úo Paulo','SP',38.0,5125.960000000000036,74,15,320.240000000000009,76,0,0,0,0,1,-0.1907873927141663651,-0.1287805494834259879);
COMMIT;
