PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "vendas_analisadas" (
"id_venda" TEXT,
  "data" TEXT,
  "regiao" TEXT,
  "canal" TEXT,
  "categoria" TEXT,
  "produto" TEXT,
  "quantidade" INTEGER,
  "preco_unitario" REAL,
  "desconto" REAL,
  "forma_pagamento" TEXT,
  "valor_bruto" REAL,
  "valor_liquido" REAL
);
INSERT INTO vendas_analisadas VALUES('V000001','2026-02-24','Sudeste','Marketplace','Escrit├│rio','Organizador de Mesa',1,69.70000000000000284,0.0,'Cart├úo de cr├®dito',69.70000000000000284,69.70000000000000284);
INSERT INTO vendas_analisadas VALUES('V000002','2026-04-08','Sul','Site','Celulares','Smartphone Vega 128GB',2,1600.930000000000063,0.0,'Cart├úo de cr├®dito',3201.860000000000127,3201.860000000000127);
INSERT INTO vendas_analisadas VALUES('V000003','2026-08-30','Nordeste','Site','Escrit├│rio','Fragmentadora 10 folhas',2,659.1900000000000546,0.08000000000000000166,'Cart├úo de d├®bito',1318.380000000000109,1318.300000000000182);
COMMIT;
