PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "produtos_raspados" (
"id_produto" TEXT,
  "nome" TEXT,
  "categoria" TEXT,
  "preco" REAL,
  "estoque" INTEGER,
  "avaliacao" REAL,
  "data_coleta" TEXT
);
INSERT INTO produtos_raspados VALUES(NULL,'Headset Gamer Nexa Max38','Games',432.25,80,3.799999999999999823,'2026-09-29');
INSERT INTO produtos_raspados VALUES(NULL,'Mesa Escrit├│rio Nova Neo62','Escrit├│rio',606.3099999999999454,41,4.5,'2026-09-29');
INSERT INTO produtos_raspados VALUES(NULL,'Monitor Vega S97','Inform├ítica',2288.860000000000127,48,4.799999999999999823,'2026-09-29');
COMMIT;
